* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(231, 231, 231);
  line-height: 2rem;
  word-spacing: 0.2rem;
}

.devops-workflow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.git-command {
  text-decoration: underline;
  color: red;
}
.kernel-function {
  font-weight: 900;
}
table {
  /* background-color: black; */
  color: red;
  border: 5px solid white;
  padding-left: 30px;
  display: flex;
}
th {
  color: black;
  text-align: left;
  border-bottom: 1px solid black;
}

td {
  border-bottom: 1px solid black;
}
